<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="\static\style.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona Główna</title>
  </head>
  <body>
    <header>
      <img class="header-img" src="\static\img\people.jpg" />
     <div class="drop-down-menu">
        <button type="submit" class="user-btn" onclick="openMenuPopup()" >
          <img
          height="34px"
          src="\static\img\usericon.png"
        /><p>Witaj, John Bobby!</p>
          </button>
       <div class="menu-popup" id="menu-popup">
     <ul>
       <li class="menu-items"><a href="my-account">Moje Konto</a></li>
       <li class="menu-items">
         <a href="my-reservations">Moje Rezerwacje</a>
       </li>
       <li class="menu-items"><a href="home">Wyloguj się</a></li>
          </ul>
         </div>
      </div>
    </header>
    <!-- OFERTA HOTELI -->
    <article class="hotels">
      <!-- HOTEL PROMENADA -->
      <div class="hotel">
        <div class="image-container">
          <img class="hotel-img" src="\static\img\promenada.jpg" />
        </div>
        <div class="hotel-info">
          <h2 class="hotel-name">Promenada</h2>
          <div class="hotel-address">
            <p>Gdańsk</p>
            <p class="address-details">ul.</p>
            <p class="address-details">Długa</p>
            <p class="address-details">12</p>
            <p>80-007</p>
          </div>
          <div class="hotel-description">
            Hotel Promenada ustyuowany jest zaledwie 100 metrów od plaży i 9,5
            km od Starego Miasta. Goście mają dostęp do całorocznego krytego
            basenu, siłowni i wanny z hydromasażem. Elegancko urządzone pokoje
            obejmują część wypoczynkową i wyposażone są w telewizor z płaskim
            ekranem. W każdym z nich mieści się także łazienka z prysznicem.
            Obiekt oferuje restaurację specjalizującą się w daniach kuchni
            polskiej, bar i całodobową recepcję. Dla dzieci przygotowano
            bezpłatny plac zabaw. Na miejscu można ponadto wypożyczyć kijki do
            nordic walkingu.
          </div>
        </div>
        <div class="hotel-details">
          <div class="rating-info">
            <div>Ocena</div>
            <div class="star-rating">9</div>
          </div>
           <a class="check-opinions" href="opinions-user">Zobacz opinie</a>
          <div class="price-info">
            <p>cena za 1 noc</p>
            <p class="price">456 PLN</p>
            <p>zawiera opłaty i podatki</p>
          </div>
          <button
            type="submit"
            class="booking-btn"
            onclick="openBookingPopup()"
          >
            Zarezerwuj
          </button>
        </div>
      </div>
      <!-- HOTEL PROMENADA - koniec -->
      <!-- HOTEL BURSZTYN -->
      <div class="hotel">
        <div class="image-container">
          <img class="hotel-img" src="\static\img\bursztyn.jpg" />
        </div>
        <div class="hotel-info">
          <h2 class="hotel-name">Bursztyn</h2>
          <div class="hotel-address">
            <p class="">Gdynia</p>
            <p class="address-details">ul.</p>
            <p class="address-details">Krótka</p>
            <p class="address-details">5</p>
            <p class="">80-209</p>
          </div>
          <div class="hotel-description">
            Hotel Bursztyn, z którego okien roztacza się widok na Zatokę
            Gdańską, jest usytuowany w cichej i malowniczej okolicy, nieopodal
            Trójmiejskiego Parku Krajobrazowego i zaledwie 1 km od tętniącego
            życiem centrum Gdyni. W każdym z pokoi znajduje się zestaw do
            parzenia kawy i herbaty, telewizor oraz bezpłatny dostęp do
            Internetu. W hotelu mieści się restauracja oraz bar w holu. Instytut
            Genesis obejmuje bezpłatną całodobową siłownię, a także dostępne za
            dodatkową opłatą saunę i wannę z hydromasażem. Przy hotelu znajduje
            się strefa płatnego parkowania.
          </div>
        </div>
        <div class="hotel-details">
          <div class="rating-info">
            <p>Ocena</p>
            <p class="star-rating">9</p>
          </div>
          <a class="check-opinions" href="opinions-user">Zobacz opinie</a>
          <div class="price-info">
            <p>cena za 1 noc</p>
            <p class="price">511 PLN</p>
            <p>zawiera opłaty i podatki</p>
          </div>
          <button
            type="submit"
            class="booking-btn"
            onclick="openBookingPopup()"
          >
            Zarezerwuj
          </button>
        </div>
        <!-- HOTEL BURSZTYN - koniec-->
      </div>
      <!-- REZERWACJA POKOJU - POPUP WINDOW -->
      <form class="popup booking-popup" action="{{ url_for('views.logged') }}" id="booking-popup" method="POST">
        <div type="button" class="close-btn" onclick="closeBookingPopup()">
          🡰
        </div>
        <div class="popup-title">Rezerwacja</div>
        <div class="arrival-date-field popup-field">
          <label for="arrivaldate">Data przyjazdu</label>
          <input
            type="date"
            class="textfield"
            id="arrivaldate"
            name="arrivaldate"
          />
        </div>
        <div class="leaving-date-field popup-field">
          <label for="leavingdate">Data wyjazdu</label>
          <input
            type="date"
            class="textfield"
            id="leavingdate"
            name="leavingdate"
          />
        </div>
        <div class="booking-email-field popup-field">
          <label for="email">Adres E-mail</label>
          <input
            type="email"
            class="textfield"
            id="email"
            name="email"
            placeholder="Podaj adres E-mail przypisany do konta"
            maxlength="30"
          />
        </div>
        <div class="popup-field">
          <label for="room">Typ pokoju</label>
          <select class="room-choice-list" name="room" id="room">
            <option value="2">Pokój 2-osobowy</option>
            <option value="3">Pokój 3-osobowy</option>
            <option value="4">Pokój 4-osobowy</option>
          </select>
        </div>
        <p class="input-error popup-input-error">
          Brak miejsc w wybranym terminie
        </p>
        <button class="booking-btn popup-booking-button" name="Reserve">Zarezerwuj</button>
      </form>
   <!--   <form  action="{{ url_for('views.logged') }}" id="sign-up-popup" method="POST">
        <button class="btn sign-up-btn"  name="Log-out" > Wyloguj</button>
      </form> -->
    </article>

    <!-- JAKIŚ JS do popup'ów -->

    <script>
      let menuPopup = document.getElementById("menu-popup");
      let bookingPopup = document.getElementById("booking-popup");

      function openMenuPopup() {
        if(!(menuPopup.classList.contains("open-menu-popup")))
        {
          menuPopup.classList.add("open-menu-popup");
        }
        else if (menuPopup.classList.contains("open-menu-popup"))
        {
          menuPopup.classList.remove("open-menu-popup");
        }
      }
      function closeSignInPopup() {
        menuPopup.classList.remove("open-menu-popup");
      }


      function openBookingPopup() {
        bookingPopup.classList.add("open-popup");
        menuPopup.classList.remove("open-popup");
      }

      function closeBookingPopup() {
        bookingPopup.classList.remove("open-popup");
      }

    </script>
  </body>
</html>
