* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: sans-serif;
  border-top: 10px solid #042d43;
  border-bottom: 10px solid #042d43;
}

.header-img {
  object-fit: cover;
  width: 100%;
  height: 550px;
}

/*
SIGN IN & SIGN UP BUTTONS
*/

.btn {
  font-size: 16px;
  font-weight: 650;
  padding: 12px 32px;
  background-color: #042d43;
  color: #e6eef3;
  border-color: #042d43;
  border-radius: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.sign-in-btn {
  position: absolute;
  top: 50px;
  right: 250px;
}

.sign-up-btn {
  position: absolute;
  top: 50px;
  right: 50px;
}

.hotels-btn {
  position: absolute;
  top: 3%;
  left: 3%;
  min-width: 12%;
  text-align: center;
  padding: 15px 20px;
  border-radius: 0px;
  border: 2px solid #021b28;
}

.btn:hover {
  background-color: #021b28;
  border-color: #021b28;
  transform: translate(1%, 1%) scale(1.05);
  transition: transform 0.4s;
}

/* USERS MENU */

.drop-down-menu {
  position: absolute;
  min-width: 16%;
  right: 3%;
  top: 3%;
}

.menu-popup {
  border: 1px solid #dfdbd9;
  position: absolute;
  top: 120%;
  left: 0%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-menu-popup {
  visibility: visible;
  width: 100%;
  top: 240%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.user-btn {
  padding: 3% 6% 3% 6%;
  width: 100%;
  background-color: #000;
  color: #f4f3f2;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6%;
  cursor: pointer;
}

.menu-items {
  text-align: right;
  background-color: #e6eef3;
  padding: 10px 10px;
  list-style: none;
}

.menu-items a {
  color: #1d2429;
  font-size: 14px;
  font-weight: bold;
}

.menu-items:hover {
  background-color: #b2cadb;
  cursor: pointer;
}

/*
HOTELS
*/

.hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  margin-top: 72px;
  margin-bottom: 72px;
}

.hotel {
  width: 85%;
  min-width: 851px;
  border: 2px solid #2c2826;
  display: flex;
  gap: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
IMAGE
*/

.image-container {
  margin-left: 15px;
  align-self: center;
}

.hotel-img {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

/*
INFO
*/

.hotel-info {
  width: 60%;
}

.hotel-name {
  color: #042d43;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-address {
  font-size: 14px;
}

.address-details {
  display: inline;
}

.hotel-description {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 30px; /*to można zamienić potem na flex-end*/
}

/*
DETAILS
*/

.hotel-details {
  margin-right: 30px;
  flex: 1;
  display: grid;
  justify-items: flex-end;
  grid-template-rows: 36px 1fr 70px 46px;
  padding-bottom: 20px;
}

.rating-info {
  font-size: 14px;
  font-weight: 600;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}

.star-rating {
  background-color: #021b28;
  color: #e6eef3;
  font-size: 30px;
  font-weight: 750;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 5px;
}

.price-info {
  font-size: 14px;
  grid-row: 3/4;
  text-align: right;
  padding-right: 10px;
}

.price {
  font-size: 22px;
  font-weight: 800;
}

.booking-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 50px;
  background-color: #938680;
  color: #f4f3f2;
  border-color: #938680;
  border-radius: 20px;
  cursor: pointer;
  grid-row: 4/5;
}

.booking-btn:hover {
  background-color: #766b66;
  border-color: #766b66;
}

/* POP UPS */

.popup {
  width: 450px;
  background: #f4f3f2;
  border: 1px solid #dfdbd9;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  display: grid;
}

.popup-title {
  align-self: center;
  color: #042d43;
  font-weight: 600;
  font-size: 20px;
  justify-self: center;
  grid-row: 2/3;
}

.sign-in-popup {
  grid-template-rows: 30px 35px repeat(3, 70px);
}

.sign-up-popup {
  grid-template-rows: 30px 35px repeat(7, 70px);
}

.open-popup {
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #021b28;
}

.textfield {
  padding-left: 10px;
  border: 2px solid #021b28;
  border-radius: 5px;
  height: 25px;
  width: 350px;
}

.popup-field {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  justify-self: center;
}

.email-field {
  grid-row: 3/4;
}

.password-field {
  grid-row: 4/5;
}

.first-name-field {
  grid-row: 5/6;
}

.last-name-field {
  grid-row: 6/7;
}

.birth-date-field {
  grid-row: 7/8;
}

.phone-number-field {
  grid-row: 8/9;
}

.popup-sign-in-button {
  grid-row: 5/6;
  justify-self: center;
  align-self: flex-end;
  border-radius: 5px;
  width: 365px;
}

.popup-sign-up-button {
  grid-row: 9/10;
  justify-self: center;
  align-self: flex-end;
  border-radius: 5px;
  width: 365px;
}

.close-btn {
  grid-row: 1/2;
  color: #021b28;
  font-size: 24px;
  font-weight: 750;
  text-align: left;
  cursor: pointer;
}

.close-btn:hover {
  transform: translate(1%, 1%) scale(1.08);
  transition: transform 0.4s;
}

.booking-popup {
  grid-template-rows: 35px 30px repeat(5, 70px);
}

.arrival-date-field {
  grid-row: 3/4;
}

.leaving-date-field {
  grid-row: 4/5;
}

.booking-email-field {
  grid-row: 5/6;
}

.room-choice-list {
  font-weight: 600;
  grid-row: 6/7;
  justify-self: center;
  align-self: flex-end;
  border-radius: 5px;
  width: 365px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #021b28;
}

.room-choice-list * {
  font-size: 14px;
}

.popup-booking-button {
  grid-row: 7/8;
  justify-self: center;
  align-self: flex-end;
  border-radius: 5px;
  width: 365px;
}

.my-account {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.save-btn {
  margin-top: 20px;
  align-self: center;
  border-radius: 5px;
  width: 365px;
}

/* SZCZEGÓŁY REZERWACJI */
.booking-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.booking-details {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-direction: column;
  align-self: flex-start;
}

.modify-btn {
  margin-top: 20px;
  align-self: center;
  border-radius: 5px;
  width: 365px;
}

.booking-img {
  width: 400px;
  height: 400px;
}
/* OPCJE DOTYCZĄCE REZERWACJI */

.booking-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 15px;
  width: 40%;
}

.booking-hotel {
  min-width: 1048px;
}

.my-booking-btn {
  border-radius: 5px;
}

.no-reservations {
  margin-top: 100px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.book-now-btn {
  min-width: 250px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 0px;
  border: 2px solid #021b28;
  text-transform: uppercase;
}
